* {
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family:Verdana;
	font-size:12px;
	text-align:center;
}

#container {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	width:700px;
	position:relative;
}

h1 {
	font-size:18px;
}

h2 {
	font-size:14px;
}

h1, h2, p, table {
	margin-bottom:10px;
}

button {
	border: 1px solid black;
}

table {
	width:100%;
	border-collapse:collapse;
}

table th, table td {
	border:1px solid black;
	min-height:18px;
	padding:2px;
	vertical-align: middle;
}

table th.cb, table td.cb {
	width:18px;
}

.unknown {
	background-color:#d0d0d0;
}
.ok {
	background-color:#00FB1F;
}
.warning {
	background-color:#FFFF00;
}
.error {
	background-color:#F83838;
}
.unknown {
	background-color:#FFA500;
}